// .wrap {
//   width: 100%;
//   display: flex;
//   padding: 0 30px;
//   flex-wrap: wrap;
//   max-width: 1400px;
//   margin: 0 auto;

//   @include mq(max $BP-page) {}
// }

.container {
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 15px;

  @include mq(max $BP-mobile) {
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;

  @include mq(max $BP-mobile) {
  }
}

.col-12 {
  width: calc(100% - 30px);
}

.col {
  box-sizing: border-box;
  padding: 15px;
}

.col-6 {
  width: calc(50% - 30px);

  @include mq(max $BP-mobile) {
    width: calc(100% - 15px);
  }
}

.col-4 {
  width: 25%;

  @include mq(max $BP-mobile) {
    width: 50%;
  }
}

.p-2 {
  padding: 20px;
}
