.nav {
  display: flex;
  position: fixed;
  z-index: 2;
  width: 100%;
  transition: all 0.4s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.17);

  &__hamburger {
    position: absolute;
    right: 0;
    display: none !important;
    border-left: 1px solid rgba(255, 255, 255, 0.17) !important;

    @include mq(max, $BP-mobile) {
      display: block !important;
    }
  }

  &__wrap {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    min-height: 56px;

    @include mq(max, $BP-mobile) {
      flex-direction: column;

      margin-top: 2px;
    }
  }

  &__left {
    margin-right: auto;
  }

  &__right {
    margin: auto 0 auto auto;
    display: flex;

    @include mq(max, $BP-mobile) {
      right: -100vw; //
      transition: right 3s;
      position: absolute;
      width: 0;
    }

    //при клике через джс включаю этот класс, он зависит. Теперь, я хотел что бы при нажатии, выезжал фон ща покажу на другом экране
    //и типа нехуя чет не получается пиши? я не пойму, ты закоментил дисплой ноне, а куда меню тогда сьебалось. За край экрана его нет)
    //Я сейчас подайду, отползу за чаем ок ок, а тут тоже аналогично скрол блочить? заебись чо) единственный момент который я вот думаю, ну что бы не ебаться, я типа скачал гамбурегер
    &--visible {
      background-color: red;
      width: 100%; //То есть на весь экран шоб была? да. А на хуя тут 150 п ихелей? это я эксперементировал, я то могу на весь экран но мне анимация нужна
      position: absolute;
      height: 100vh;
      display: block;
      z-index: -2;
      top: 59px;
      right: 0;
      align-items: center;
      justify-content: center;
      transition: right 3s;
    }
  }

  &__icon {
    display: none;

    @include mq(max, $BP-mobile) {
      display: block;
    }
  }

  &__item {
    padding: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.17);
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    // border-bottom: 2px solid transparent;
    // transition: all 0.2s ease-in-out;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      background: #000;
      transition: width 0.3s;
      bottom: 0;
    }

    &:hover::after {
      width: 100%;
      //transition: width .3s;
    }

    &:last-child {
      border-right: 1px solid rgba(255, 255, 255, 0.17);
    }

    &:hover,
    :focus {
    }
  }

  &__link {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 16px;
  }
}

.white {
  background-color: #fff;
  color: $primary;
  box-shadow: 2px 0px 20px 2px rgba(0, 0, 0, 0.12156862745098039);

  .nav__link {
    color: $primary;
    text-transform: uppercase;
    text-decoration: none;
  }

  .nav__hamburger {
    &.is-scrolled {
      .hamburger-inner,
      //я так делал, но просто думал, а можно ли как то отсюда передавать значение в переменную туда, хочешь покажу чот давай)
      .hamburger-inner::before,
      .hamburger-inner::after {
        background-color: red;
      }
    }
  }
}

.scroll {
  scroll-behavior: smooth;
}
