ul {
  margin: 0;
  padding: 0;
}

.services {
  line-height: 64px;
  font-size: 18px;
  list-style: none;

  @include mq(max $BP-mobile) {
    line-height: 32px;
    font-size: 16px;
  }

  &__check {
    padding: 0 60px;
    position: relative;

    @include mq(max $BP-mobile) {
      padding: 15px 45px;
    }

    &::before {
      content: '';
      display: block;
      width: 51px;
      background-repeat: no-repeat;
      left: 0;
      height: 100%;
      position: absolute;
      background-image: url(/img/check.svg);

      @include mq(max $BP-mobile) {
        width: 32px;
      }
    }
  }
}
