<div class="container">
    <div class="about-us">
        <div class="row">

            <div class="col col-6">

                <div class="col-12">
                    <div class="title-page title-page--news">
                        <span class="title-page__label">Информация</span>
                        <span class="title-page__title">О компании</span>
                    </div>
                </div>

                <P>ТОО «Greenhouse-Qaztomat» является крупнейшим тепличным хозяйством Павлодарской области. Представляет собой современный комплекс, оснащенный новейшим оборудованием и инновационными системами и технологиями в соответствии с европейскими стандартами. Проект реализован в партнерстве с известным мировым производителем Van der Hoeven Greenhousebuilders B.V., Нидерланды, входящим в тройку мировых производителей</P>

            </div>
            <div class="col col-6">

                <div class="about-us__right">

                    <div class="about-us__wrapper">
                        <div class="about-us__title">
                            <span class="about-us__label">10 миллионов</span></div>
                        <div class="about-us__desc">
                            <p>Роз в год площадью 5 га </p>
                            <p>Блок по выращиванию голландских роз</p>
                            <p class="about-us__time"> введенный в эксплуатацию в феврале 2016 года</p>
                        </div>

                    </div>

                    <div class="about-us__wrapper">
                        <div class="about-us__title">
                            <span class="about-us__label">3000 тонн</span></div>
                        <div class="about-us__desc">
                            <p> продукции в год площадью 5 га</p>
                            <p>Блок по выращиванию томатов </p>
                            <p class="about-us__time"> введенный в эксплуатацию в феврале 2016 года</p>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>