<div class="container">
    <div class="row">
        <div class="col col-12">
            <div class="title-page title-page--gal">
                <span class="title-page__label">Наша</span>
                <span class="title-page__title">галерея</span>
            </div>
        </div>
    </div>
</div>

<div class="container-gallery">
    <div class="row" id="tomatosRow">

        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/01.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/02.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/03.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/04.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/05.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/06.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/07.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/08.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/09.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/10.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/11.jpg" alt=""></div>
        <div class="col-4 container-gallery__item"><img class="container-gallery__item--img" src="img/12.jpg" alt=""></div>

    </div>
</div>