{% include './navbar.html' %}

<div class="header-block">
    <div class="container">
        <video autoplay muted loop id="Video">
            <source src="img/rain.mp4" type="video/mp4">
        </video>

        <div class="wrap header-block__wrap">
            <div class="title header-block__title">
                <h3>Тепличный комплекс </h3>
                <h1>Greenhouse-Qaztomat</h1>
            </div>
            <div class="header-block__desc">
                <p>ТОО «Greenhouse-Qaztomat» является крупнейшим тепличным хозяйством Павлодарской области.
             Представляет собой современный комплекс, оснащенный новейшим оборудованием и инновационными системами и технологиями в соответствии с европейскими стандартами. Проект реализован в партнерстве с известным мировым производителем Van der Hoeven Greenhousebuilders B.V., Нидерланды, входящим в тройку мировых производителей</p>
            </div>
        </div>

        <div class="header-block__bottom">

            <div class="wrap nav__wrap">
                <div class="nav__left">
                    <a class="arrow header-block__arrow"  id="scroll" href="#product">↓</a>
                </div>
                <div class="nav__right">
                справки по телефонам: +7(777)666-55-44
            </div>
            </div>

        </div>
    </div>
</div>

</div>