<div class="container">
    <div class="row">
        <ul>
            <li>Принципы интенсивного производства овощей с глубокой автоматизацией процессов выращивания</li>
            <li>Современная гидропонная система</li>
            <li>Техническое и агрономическое онлайн-сопровождение через интернет</li>
            <li>Дополнительное досвечивание в период низкой солнечной активности</li>
            <li>Система вертикального и горизонтального зашторивания, система полива и рециркуляции воздуха</li>
            <li>Контроль влажности и температуры путем: - создания водяного тумана с системой высокого давления - эффективной системы отопления</li>
            <li>Оптимальное планирование внутренней инфраструктуры</li>
            <li>Организации равномерного капельного полива со сбором и повторным использования воды</li>
            <li>Техническое и агрономическое онлайн-сопровождение через интернет</li>
        </ul>

    </div>
</div>