<div class="container">
    <div class="row">
        <ul class="services">
            <li class "check">Принципы интенсивного производства овощей с глубокой автоматизацией процессов выращивания</li>
            <li class="check">Современная гидропонная система</li>
            <li class="check">Техническое и агрономическое онлайн-сопровождение через интернет</li>
            <li class="check">Дополнительное досвечивание в период низкой солнечной активности</li>
            <li class="check">Система вертикального и горизонтального зашторивания, система полива и рециркуляции воздуха</li>
            <li class="check">Контроль влажности и температуры путем: - создания водяного тумана с системой высокого давления - эффективной системы отопления</li>
            <li class="check">Оптимальное планирование внутренней инфраструктуры</li>
            <li class="check">Организации равномерного капельного полива со сбором и повторным использования воды</li>
            <li class="check">Техническое и агрономическое онлайн-сопровождение через интернет</li>
        </ul>

    </div>
</div>