<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Главная страница</title>
    {% include 'templates/head.html' %}
  </head>
  <body>
    <div class="main">
      <section id="home">
        {% include 'templates/header.html' %}
      </section>
      <section id="about">
        {% include 'templates/about-us.html' %}
      </section>
      <section id="product">
        {% include 'templates/product.html' %}
      </section>
      <section id="blog">
        {# {% include 'templates/blog-rev.html' %} #}
      </section>
      <section id="service">
        {% include 'templates/service.html' %}
      </section>
      <section id="gallery">
        {% include 'templates/gallery.html' %}
      </section>
    </div>
    <section id="contacs">
      {% include 'templates/footer.html' %}
    </section>

  </body>
  
</html>